
body {
    background-image: url("../images/ep_naturalblack.png");
}

.header {
    width: 100%;
    height: 100px;
    margin: 0px;
}

.title {
    text-align: center;
    width: 960px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    
}

.title h1 {
    padding-top: 30px;
    color: white;
    font-size: 2em;
    
}

#main-body{
    width: 960px;
    margin: 0 auto;
    height: 600px;
    color: white;
}

#main-body h2 {
    position: absolute;
    display: inline;
    font-size: 1.7em;
    width: 960px;
    text-align: center;
    margin-top: 75px;
    
}

.section1 {
    width: 100%;
    height: 33.3%;
    
}

.section3 h1 {
    font-size: 2em;
    
    
}

.section2 {
    width: 100%;
    height: 33.3%;
    text-align: center;
}

.section2 img {
    height: 150px;
    width: auto;
}

.section1 img {
    height: 150px;
    width: auto;
}



.section3 {
    width: 100%;
    height: 33.3%;
    
    
}
.box {
    display: inline-block;
    text-align: center;
}

.box img {
    display: block;
}

.section3 img {
    height: 150px;
    width: auto;
}

#fight-select {
    position: relative;
    left: 400px;
    bottom: 100px;
}

#yourFighter {
    display: inline-block;
    width: 320;
 

}

#yourFighter button {
    margin-left: 200px;
}

#info-box {
    display: inline-block;
    width: 960px;
    color: white;
    position: absolute;
    text-align: center;
}

#computerFighter {
    position: relative;
    display: inline-block;
    float: right;
    width: 320px;


}

#restart {
    position: relative;
    text-align: center;
    top: 150px;
  
}
#restart button {
    height: auto;
    width: auto;
    font-size: 1em;
}

#stats-you {
    position: absolute;
    margin-left: 380px;
    margin-top: 60px;
 
}
#stats-computer {
    position: absolute;
    margin-left: 380px;
    margin-top: 80px;
 
}

#left-box{
  height: 100px;
  width: 100px;
  position: relative;
  float: left;
  top: 50px;
  left: 100px;
}
#right-box{
    height: 100px;
    width: 100px;
    position: relative;
    float: right;
    top: 50px;
    right: 100px;
  }

#your-screen {
    height: 100px;
    width: 100px;
    position: relative;
    float: left;
    top: 50px;
    left: 100px;
}
#computer-screen{
    height: 100px;
    width: 100px;
    position: relative;
    float: right;
    top: 50px;
    right: 100px;
}

  #special-move{
      position: absolute;
      margin-left: 425px;
      margin-top: 100px;
      
  }
  #special-move button {
      font-size: 1em;
      animation-name: textColor;
        animation-duration: 60s;
  }

  #special-move img {
      position: relative;
      bottom: 25px;
      right: 95px;
      height: 75px;
      width: 75px;
      
  }

  @keyframes textColor {
    0%  {color: red;}
    5%  {color:orange;}
    10% {color: blue;}
    15% {color: green;}
    20% {color: red;}
    25%{color: orange;}
    30%{color: blue;}
    35%{color: green;}
    40%{color: red;}
    45%{color: orange;}
    50%{color: blue;}
    55%{color: green;}
    60%{color: red;}
    65%{color: orange;}
    70%{color: blue;}
    75%{color: green;}
    80%{color: red;}
    85%{color: orange;}
    90%{color: blue;}
    95%{color: green;}
    100%{color: red;}

    
}

